<div id="blog">
    <p>Blog</p>
    <hr>
    <div id="blog-posts">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Creation date</th>
                        <th>Images</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bp of blog_posts">
                        <td>{{bp.title}}</td>
                        <td>{{bp.description}}</td>
                        <td>{{bp.creationDate.toLocaleDateString('en-GB',{day : '2-digit',month: '2-digit',year: 'numeric'})}}</td>
                        <td>{{bp.imageURLs}}</td>
                        <td>{{bp.status}}</td>
                        <td>
                            <button (click)="deleteBlogPost(bp)" color="accent" mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button (click)="onEditClicked(bp)" color="primary"  mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <button (click)="onAddClicked()" color="primary" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <xp-blogpost-form *ngIf="shouldRenderBlogPostForm" (blogPostsUpdated)="getBlogPosts()" [blogPost]="selectedBlogPost" [shouldEdit]="shouldEdit"></xp-blogpost-form>
        </div>
    </div>
</div>