<div>
  <div class="wrapper"><p>Tours</p></div>

  <div class="table-wrapper">
    <div>
      <table>
        <thead>
          <tr>
            <th>Map</th>
            <th>Tour name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Price</th>
            <th>Difficulty level</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tour">
            <button *ngIf="t.id !== undefined" (click)="viewMap(t.id)">
              🗺️
            </button>

            <td>{{ t.name }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.status }}</td>
            <td>{{ t.price }}</td>
            <td>{{ t.difficultyLevel }}</td>
            <td>
              <button (click)="openEquipmentDialog(t)">Add equipment</button>

              <button (click)="onAddPoint(t)" color="primary" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>

              <button (click)="onAddObj(t)" color="primary" mat-icon-button>
                <mat-icon>restaurant</mat-icon>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-wrap">
        <button [disabled]="tourCounter < 1" (click)="showMoreTours()">
          Show more tours ➡️</button
        ><button [disabled]="page <= 1" (click)="showLessTours()">
          ⬅️ Show less tours
        </button>
        <button (click)="addTour()">Add tour</button>
      </div>
    </div>


    <div *ngIf="showTourForm" class="wrapper-form">
      <p>🛫 Create tour:</p>
      <xp-tour-form (tourUpdated)="loadTours()"></xp-tour-form>
      <xp-tour-point-form
        *ngIf="shouldAddPoint"
        [tour]="selectedTour"
      ></xp-tour-point-form>
      <xp-object-form *ngIf="shouldAddObject" [tour]="selectedTour"></xp-object-form>

    </div>
  </div>
</div>
