#equipment {
  margin-top: 20px;
  margin-left: 20px;
}

.vertical-line {
  height: 90%;
  display: flex;
  justify-content: flex-start;
  border-right: 3px dashed #000; /* Color and style of the dashed line */
  margin: 5px 10px; /* Adjust the margin as needed */
}

body {
  margin: 0;
}

.discount-field, .expiration-field {
  flex: 1;
  margin-right: 10px; /* Adjust the margin as needed */
  align-items: center;
  justify-content: center; /* Center the content horizontally */
}

.action-button {
  font-size: 21px; /* Adjust the font size for button text */
  padding: 12px 24px; /* Adjust the padding for button size */
  margin-top: 0; /* Adjust the margin-top for separation from input fields */
}

.table-wrapper {
  height: 54px;
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: flex-start;
  padding-left: 2rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

mat-card-header{
  display: flex;
  flex-direction: column;
}

.card-wrapperB {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  gap: 24px;
}

.top-buttons {
  font-family: 'Trip';
  font-weight: medium;
  font-size: 14px;
  height: 52px;
  width: 124px;
  border-radius: 12px;
  border: 2px solid #0a83cb;
  background-color: white;
  color: #0a83cb;
  text-align: center;
}

/*.card-wrapperB button {
  height: 80%;
  width: 120px;
  border-radius: 8px;
  background-color: #124174;
  color: #ffffff;
  padding: 5px 10px;
  margin: 10px;
}*/

.card-wrapper-btn{
  height: 80%;
  width: 120px;
  border-radius: 8px;
  background-color: #124174;
  color: #ffffff;
  padding: 5px 10px;
  margin: 10px;
}

.top-buttons:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 56px 12%;
  text-align: center;
  min-height: 100vh;
  height: 100%;
}

.tours {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 calc(50% - 24px);
  max-width: calc(50% - 24px);
  height: 400px;
  margin: 12px;
}

.card-container {
  background-color: white;
  width: 100%;
  height: 100%;
  /*flex: 1 0 calc(50% - 24px);*/
  /*max-width: calc(50% - 24px);*/
  /*height: 515px;*/
  margin-bottom: 16px;
  /* color: #ffffff; */
  border-radius: 10px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 4px 8px rgba(18, 65, 116, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6px 8px;
}

.head-column {
  flex: 1;
  display: flex;
}

.head-title {
  font-family: 'Trip';
  font-weight: bold;
  font-size: 28px;
  margin-left: 14px;
  margin-bottom: 0;
}

.head-status {
  font-family: 'Trip';
  font-weight: medium;
  font-size: 18px;
  margin: auto;
  border-radius: 15px;
  padding: 5px 10px;
  color: #FAF9F6;
}

.draft-status {
  background-color: #888; /* Light gray for draft */
}

.published-status {
  background-color: #4CAF50; /* Green for published */
}

.btn-delete-tour {
  margin-left: auto;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 200px;
  margin: 20px 16px;
}

.det-subtitle {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: 0 12px;
}

.det-price {
  margin: 0;
  font-family: 'Trip';
  font-weight: medium;
  font-size: 18px;
  align-self: center;
}

.det-difficulty {
  margin: 0;
  font-family: 'Trip';
  font-weight: medium;
  font-size: 16px;
  border-radius: 6px;
  padding: 2px 4px;
  color: #FFF;
  align-self: center;
}

.easy {
  border: 2px solid green;
  color: green;
}

.moderate {
  border: 2px solid darkorange;
  color: darkorange;
}

.difficult {
  border: 2px solid red;
  color: red;
}

.det-description {
  min-height: 150px;
  max-height: 150px;
  overflow-y: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 4px;
}

.det-description-text {
  font-family: 'Trip';
  font-weight: normal;
  align-self: center;
  margin: 4px 8px;
  text-align: left;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6px 8px;
}

.foot-column {
  flex: 1;
}

.icon-buttons {
  display: flex;
  flex-direction: row;
}

.eq-coup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.publish-buttons {
  margin-right: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-show-points {
  display: flex;
  align-items: center;
  justify-content: center;
}

.equipment-coupon {
  font-family: 'Trip';
  font-weight: medium;
  font-size: 14px;
  border: 1px solid white;
  color: #0a83cb;
  background-color: white;
  padding: 4px 6px;
}

.equipment-coupon:hover {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 12px;
  transition: ease 0.1s;
  border: 1px solid #0a83cb;
}

.publish-archive {
  font-family: 'Trip';
  font-weight: medium;
  font-size: 16px;
  background-color: #0a83cb;
  color: white;
  border-radius: 12px;
  padding: 4px 8px;
  border: 1px solid #0a83cb;
}

.publish-archive:hover {
  cursor: pointer;
  transition: ease-in 0.1s;
  background-color: #FAF9F6;
  border: 1px solid #0a83cb;
  color: #0a83cb;
}

/*Old style*/
mat-card {
  background-color: rgba(240, 246, 246, 0.7);
  height: 100%;
}

.definition {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.definition .buttons {
  margin-right: 10px;
}

.definition .isPublished {
  margin-left: 10px;
  border-radius: 8px;
  background-color: #124174;
  color: #ffffff;
  padding: 5px 10px;
  width: 100px;
}

/* .card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
} */

.content {
  width: 60%;
  height: 150px;
  overflow-y: scroll;
}

.details {
  text-decoration: solid;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

.maindiv {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 10px;
}

.title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 20px;
  gap: 10px;
  color: #161414;
}

.headerName {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

mat-card-content {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 10px;
  text-align: justify;
  font-family: "Lucida Console", "Courier New", monospace;
}
.desc {
  color: #a19b9b;
  text: caption;
}

mat-card-actions equipment {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #78a3d0;
}

mat-card-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

mat-card-subtitle {
  font-size: 1.7em;
  text-transform: uppercase;
  color: #4e79a7;
  font-family: Georgia, serif;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 5px;
}

.other {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.other button {
  width: 50%;
  height: 50%;
  font-size: 50px;
}

.other .price-value {
  background-color: rgba(246, 245, 245, 0.8);
  color: #333;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
}

.other:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.content:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.difLevel .easy {
  background-color: rgba(246, 245, 245, 0.8);
  border-radius: 10px;
  border-color: green 1rem;
  padding: 5px 10px;
  display: inline-block;
  text-transform: uppercase;
  color: green;
}

.difLevel .medium {
  background-color: rgba(246, 245, 245, 0.8);
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  text-transform: uppercase;
  color: orange;
  border-color: orange;
  border-style: double;
}

.difLevel .hard {
  background-color: rgba(246, 245, 245, 0.8);
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  text-transform: uppercase;
  color: red;
  border-color: red;
  border-style: double;
}

mat-card-title {
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #4409e8, rgb(147, 161, 211));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.mat-card {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(18, 65, 116, 0.1);
}

.mat-card-title,
.mat-card-subtitle {
  color: #89295c;
}

.wrapper-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

xp-tour-form {
  margin: auto;
}

xp-object-form {
  margin: auto;
}

.coupon-details {
  display: flex;
  flex-direction: row; /* Set it to row for horizontal layout */
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  padding: 10px; /* Adjust the padding as needed */
  height: 100%; /* Ensure the container takes the full height */
  border-top: 2px dashed #000; /* Add an upper dashed border */
  margin-top: 10px;
}

.noCoupon {
  display: flex;
  flex-direction: row; /* Set it to row for horizontal layout */
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  padding: 10px; /* Adjust the padding as needed */
  height: 100%; /* Ensure the container takes the full height */
  border-top: 2px dashed #000; /* Add an upper dashed border */
  margin-top: 10px;
}

.create-coupon-btn{
  border-radius: 8px;
  background-color: #124174;
  color: #ffffff;
  padding: 10px 15px;
  margin: 10px;
  font-size: 20px;
}

.coupon-info {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.author-coupon {
  display: flex;
  flex-direction: row; /* Set it to row for horizontal layout */
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  height: 80%;
  margin: 10px;
  width: auto;
}

.author-coupon-edit {
  height: 100%;
  display: flex;
  flex-direction: row; /* Set it to row for horizontal layout */
  align-items: center;
  justify-content: center; /* Center the content horizontally */
}

.author-form{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  align-items: center;
  justify-content: center;
}



/*.author-form mat-form-field{
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  align-items: center;
  justify-content: center;
}*/

.author-inputs{
  flex: 1;
  height: 80%;
  margin-right: 8px; /* Adjust the margin as needed */
  align-items: center;
  justify-content: center; /* Center the content horizontally */
}

.author-label{
  font-size: 20px;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 7px;
  width: auto;
}


::ng-deep .author-inputs .mat-mdc-form-field-subscript-wrapper{
  width: 0%;
  height: 0%;
}

.author-coupon-info label {
  margin: 0px 10px;
  font-size: 18px;
}

.author-coupon-info {
  margin: 0px 10px;

}

.author-coupon-buttons {
  margin: 0px 10px;
}

.author-coupon-buttons button {
  font-size: 30px;
  margin: 0px 8px;
}


.coupon-details label {
  margin: 10px;
  font-size: 18px;
}



.coupon-buttons {
  margin: 10px;
  display: flex;
  flex-direction: row; /* Set it to row for horizontal layout */
  align-items: center;
  justify-content: center; /* Center the content horizontally */
}

.coupon-buttons button {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
