 
        <table>
            <thead>
                <tr>
                    <th>Tour point name</th>
                    <th>Tour point description </th>
                    <th>Author username </th>
                    <th>Comment</th>
                    <th>Accept</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of bindingList">
                    <td>{{r.name}}</td>
                    <td>{{r.description}}</td>
                    <td>{{r.username}}</td>
                    <td> <!-- Polje za unos komentara -->
                        <input type="text" >
                    </td>
                    <td>
                        <button (click)="AcceptRequest(r.request)" color="accent" mat-icon-button>
                            <mat-icon>done</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button (click)="RejectRequest(r.request)" color="accent" mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                   
                </tr>
            </tbody>
        </table>
   
