@font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Medium.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trip", sans-serif;
  }

.like-div {
  min-height: 34px;
  display: flex;
}

  .like-button {
    width: 30px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    transition: filter 0.3s; /* Add a transition for a smooth effect */
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    margin-left: auto;
  }

  .like-button img {
    max-width: 100%; /* Ensure the image doesn't exceed the button width */
    max-height: 100%; /* Ensure the image doesn't exceed the button height */
  }


  .card-selected {
    filter: brightness(50%); /* Apply a darkening effect when clicked */
  }

  .body {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF9F6;
  }


  .title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
  }

  .slide-container {
    max-width: 100%;
    width: 100%;
    padding: 40px 0;
  }

  .slide-content {
    border-radius: 10px;
  }

  .card-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .card {
    width: auto;
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 16px 3px #dddddd;
    transition: box-shadow 0.3s ease;
  }

  .card:hover {
    box-shadow: 0 4px 16px 3px #707070;
  }

  .image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 24px;
    max-width: 300px;
  }

  .image-content {
    position: relative;
  }

  .overlay {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 18%;
    width: 100%;
    border-radius: 10px;
    padding: 0 8px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .tag {
    font-size: 12px;
    font-weight: medium;
    color: #FFF;
    background-color: #E23A55;
    border-radius: 15px;
    padding: 3px 9px;
  }

  .card-image {
    position: relative;
    height: 100%;
    max-height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  .card-image .card-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
  }

  .card:hover .card-image .card-img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .name {
    font-family: "Trip", "sans-serif";
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-top: 12px;
  }

  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .price-text {
    font-size: 16px;
  }

  .price-number {
    font-size: 22px;
    font-weight: bold;
  }

  .difficulty {
    font-size: 14px;
    border-radius: 6px;
    padding: 2px 4px;
    color: #FFF;
  }

  .easy {
    border: 2px solid green;
    color: green;
  }

  .moderate {
    border: 2px solid darkorange;
    color: darkorange;
  }

  .difficult {
    border: 2px solid red;
    color: red;
  }

  .desc-container {
    overflow: hidden;
    min-height: 80px;
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #707070;
    margin: 0 8px 16px 8px;
    text-align: left;
    overflow: hidden;
    white-space: pre-wrap;
  }

  .button{
    width: 100px;
    background-color: #E23A55;
    color: white;
    font-size: large;
    height: 50px;
    margin-right: 50px;
  }

  body.disable-scroll {
    overflow: hidden;
  }

  .column{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }
