<div class="tour-details-container">
    <div class="tour-header">
      <h2 class="tour-name">{{ tour.name }}</h2>
      <button class="buy-button" *ngIf="buyButton" (click)="addToCart()">Add to Cart</button>
      <div class="purchased" *ngIf="!buyButton">
        <label class="lbl">Purchased</label>
        <mat-icon style="color: #007800;">done</mat-icon>
      </div>
      <!--<button class="remove-button" *ngIf="buyButton===false">Remove</button>-->
    </div>
  
    <div class="tour-info">
      <div class="tour-image">
        <img [src]="tour.tourPoints[0].imageUrl" alt="{{ tour.name }} Image">
      </div>
      <div class="tour-details">
        <p class="price">Price: ${{ tour.price }}</p>
        <p class="difficulty">Difficulty: {{ tour.difficultyLevel }}</p>
        <p class="distance">Distance: {{ tour.tourCharacteristics[0].distance }} km</p>
        <p class="duration">Duration: {{ tour.tourCharacteristics[0].duration }} minutes</p>
      </div>
    </div>
    <div class="tour-description">
        <p class="description">{{ tour.description }}</p>
      </div>
  </div>