/* styles.css */

body {
    background-color: #3f51b5;
  }

  #problem {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: start;
    background-size: cover;
    background-repeat: repeat;
    min-height: 140vh;
    height: 100%;

  }

  #problem-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
  }

  mat-card {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-color: #b3e0f2;
  }

  mat-card:hover {
    transform: scale(1.1);
    margin: -5px;

  }

/* Dodajte ova pravila stila u vašu CSS datoteku */

/* Stilovi za dugmad */
button.mat-button.isAdministartor {
    background-color: #3498db; /* Plava boja (primer) */
    color: #ffffff; /* Bela boja teksta */
    margin-right: 10px; /* Dodajte razmak između dugmadi prema potrebi */
    cursor: pointer;
  }

  /* Stilovi za onemogućena dugmad */
  button.mat-button.isAdministartor[disabled] {
    background-color: #bdc3c7; /* Siva boja (primer) za onemogućena dugmad */
    color: #7f8c8d; /* Siva boja teksta za onemogućena dugmad */
    cursor: not-allowed; /* Kursor "not-allowed" za onemogućena dugmad */
  }

  /* Hover efekat za dugmad */
  button.mat-button.isAdministartor:hover {
    background-color: #2980b9; /* Tamnija plava boja (primer) prilikom hover-a */
  }



  p {
    font-size: 15px;
  }

  table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  thead tr {
    background-color: #3f51b5;
    color: #ffffff;
    text-align: left;
  }

  .mat-card-title{
    margin-left: 18px;
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid #3f51b5;
  }

  tbody tr.active-row {
    font-weight: bold;
    color: #3f51b5;
  }


  .solved-row {
    background-color: lightgreen;
  }
