<div id="problem">
    <p>Problem</p>
    <hr>
    <div id="problem-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Priority</th>
                        <th>Description</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of problem">
                        <td>{{p.category}}</td>
                        <td>{{p.priority}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.time}}</td>
                        <button color="primary" (click)="onProblemReplay(p)" mat-icon-button>
                            <mat-icon>replay</mat-icon>
                        </button>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <!-- <xp-equipment-form *ngIf="shouldRenderEquipmentForm" [shouldEdit]="shouldEdit" [equipment]="selectedEquipment" (equimpentUpdated)="getEquipment()"></xp-equipment-form> -->
        </div>
    </div>
</div>