<div class="landingPage">
    <div class="b1" >
      <p class="top_margin"></p>
      <p class="title">Follow recommendations</p>
      <table>
        <thead>
            <tr>
                <th>Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td><button class="button" raised-button (click)="followUser(user.id)">Follow</button></td>
            </tr>


        </tbody>
    </table>
    </div>
    <div class="b3">
</div>