@font-face {
  font-family: 'Trip';
  src: url(src\assets\Fonts\TripSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trip';
  src: url(src\assets\Fonts\TripSans-Medium.ttf) format('truetype');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trip';
  src: url(src\assets\Fonts\TripSans-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

#preferences {
  margin: 0 22%;
  padding: 0;
}

.title {
  font-family: 'Trip';
  font-weight: bold;
  text-align: center;
  font-size: 42px;
  margin-top: 48px;
  margin-bottom: 56px;
}

.preferences-details {
  width: 100%;
}
