<div *ngIf="activeTour" class="tour-window">
  <div class="tour-details">
    <div class="tour-image">
      <img [src]="activeTour.tour.tourPoints[0].imageUrl" alt="" class="card-img">
    </div>

    <div class="tour-information">
      <h2>{{ activeTour.tour.name }}</h2>
      <p class="tour-description">{{ activeTour.tour.description }}</p>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="button-30"
        (click)="updateStatusToAbandoned()">
        Aband
    </button>
    </div>  
  </div>
  <div class="bottom-information">
    <div class="tour-points">
      <h3> Tour Points: </h3>
      <div *ngFor="let executionPoint of executionPoints; let i = index" class="tour-point">
        <div class="accordion">
          <div (click)="toggleAccordion(i)" class="accordion-header" [class.open]="isAccordionOpen(i)">
            <div class="accordion-header-plus">
            <span class="accordion-toggle">{{ isAccordionOpen(i) ? '-' : '+' }}</span>
            <p class="accordion-title">{{ tourPointsMap[executionPoint.tourPointId].name }}</p>
          </div>
            <ng-container *ngIf="executionPoint.completed">
            <p *ngIf="executionPoint.completed" class="minutes-ago">{{ getRelativeTime(executionPoint.completionTime) }}</p>
              <i class="gg-lock-unlock"></i>
            </ng-container>
            <ng-container *ngIf="!executionPoint.completed">
              <i class="gg-lock"></i>
            </ng-container>
          </div>
          <!-- Use ngIf to conditionally show/hide the content based on the accordion state -->
          <div *ngIf="isAccordionOpen(i)" class="accordion-content open">
            

            
            <!-- Load TourPoint based on the TourExecutionTourPoint's tourPointId -->
            <ng-container *ngIf="tourPointsMap[executionPoint.tourPointId]">
              <p> {{ tourPointsMap[executionPoint.tourPointId].description }}</p>
              
            </ng-container>
            
            <p *ngIf="executionPoint.completed"><b>Secret:</b> {{ tourPointsMap[executionPoint.tourPointId].secret }}</p>
            <p *ngIf="executionPoint.completed">Completed {{ getRelativeTime(executionPoint.completionTime) }}</p>
            <p *ngIf="!executionPoint.completed"> First complete tour point to unlock its secrets !  </p>

          </div>
        </div>
      </div>
    </div>
    
    
    
  
    <div class="map-container">
      <app-map [tourIdEx]="tourId" (click)="updatePositions($event)"></app-map>
    </div>

    

  </div>
  

</div>
<div *ngIf="!activeTour">
  <p>Loading...</p>
</div>