<div class="body">

  <div class="slide-container">

    <div class="title">Recommended Tours</div>

    <div class="slide-content">
      <div class="card-wrapper">
        <div class="card">

          <div class="image-content">
            <span class="overlay">
              <p class="tag">Boat</p>
            </span>

            <div class="card-image">
              <img src="assets/images/slika1.jpeg" alt="" class="card-img">
            </div>
          </div>

          <div class="card-content">
            <h2 class="name">Prague</h2>

            <div class="desc-container">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at dolor doloribus ducimus eaque enim error iste minima mollitia natus, nihil officiis omnis pariatur perferendis quibusdam ratione ut vel! Optio.</p>
            </div>

            <div class="card-footer">
              <div class="price">
                <p class="price-text">Price</p>
                <p class="price-number">0</p>
              </div>

              <p class="difficulty easy">Easy</p>
            </div>

          </div>

        </div>

        <div class="card">

          <div class="image-content">
            <span class="overlay">
              <p class="tag">Park</p>
            </span>

            <div class="card-image">
              <img src="assets/images/slika2.jpg" alt="" class="card-img">
            </div>
          </div>

          <div class="card-content">
            <h2 class="name">Paris</h2>

            <div class="desc-container">
              <p class="description">Lenim, fuga laboriosam lamilique sint tenetur, ullam vero voluptatum.</p>
            </div>

            <div class="card-footer">
              <div class="price">
                <p class="price-text">Price</p>
                <p class="price-number">0</p>
              </div>

              <p class="difficulty moderate">Moderate</p>
            </div>
          </div>

        </div>

        <div class="card">

          <div class="image-content">
            <span class="overlay">
              <p class="tag">Museum</p>
              <p class="tag">Square</p>
            </span>

            <div class="card-image">
              <img src="assets/images/slika3.jpg" alt="" class="card-img">
            </div>
          </div>

          <div class="card-content">
            <h2 class="name">Vienna</h2>

            <div class="desc-container">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deleniti dolores excepturi hic quidem rerum similique veniam veritatis, voluptatem. Assumenda autem corporis delectus inventore ipsam iure molestias nisi possimus unde!</p>
            </div>

            <div class="card-footer">
              <div class="price">
                <p class="price-text">Price</p>
                <p class="price-number">0</p>
              </div>

              <p class="difficulty easy">Easy</p>
            </div>
          </div>

        </div>

        <div class="card">

          <div class="image-content">
            <span class="overlay">
              <p class="tag">Club</p>
            </span>

            <div class="card-image">
              <img src="assets/images/slika4.jpg" alt="" class="card-img">
            </div>
          </div>

          <div class="card-content">
            <h2 class="name">Belgrade</h2>

            <div class="desc-container">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias perspiciatis rem sint suscipit. Amet aperiam assumenda autem consectetur consequatur cum excepturi explicabo itaque libero nulla praesentium quam qui sequi, voluptate!Lenim, fuga laboriosam lamilique sint tenetur, ullam vero voluptatum.</p>
            </div>

            <div class="card-footer">
              <div class="price">
                <p class="price-text">Price</p>
                <p class="price-number">0</p>
              </div>

              <p class="difficulty difficult">Difficult</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
