.form-container { /* treba doradit css*/
  display: flex;
  justify-content: space-between;
  margin-top: 690px; /* zbog mape */
  width: 50%;
  padding: 20px;
}

.map-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100px; /* ?mapa je neki overlej kom ne moz visinu opravit */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

