<div class="topDiv">
  <div class="search-container">

  <div class="map-container">
    <app-map [saveOnlyLatest]="true"></app-map>
  </div>
  <form [formGroup]="searchForm">
    <div class="form-container">
      <div class="top-form-comp">
        <mat-form-field>
          <mat-label>Range (km)</mat-label>
          <input matInput formControlName="range" type="number">
        </mat-form-field>
        <div class="coordinates">
          <p class="p-header">Latitude:</p>
          <p class="p-value">{{ latitude }}</p>
          <p class="p-header">Longitude:</p>
          <p class="p-value">{{ longitude }}</p>
        </div>
      </div>
      <span><p class="p-header">Show tours with discount >= than...</p><input type="range" min="0" max="100" step="1" value="0" (input)="updateSliderValue($event)"><p class="p-value">{{ discount }}</p></span>
      <button class="button" raised-button type="submit" (click)="search()">Search</button>
    </div>
  </form>

  </div>
  <div class="tours-view" [ngStyle]="{'display': isListVisible ? 'block' : 'none'}">

    <h1 class="results-title">Search results</h1>
    <p class="results-number">{{ brTura }}</p>

    <div class="slide-content">
    <div class="card-wrapper">

      <div class="card" *ngFor="let tour of toursfil">

        <div class="image-content">
            <span class="overlay">
              <p class="tag" *ngFor="let tag of tour.tags | slice:0:3">{{ tag }}</p>
            </span>

          <div class="card-image">
            <img src="assets/images/slika1.jpeg" alt="" class="card-img">
          </div>
        </div>

        <div class="card-content">
          <h2 class="name">{{ tour.name }}</h2>

          <div class="desc-container">
            <p class="description">{{ tour.description }}</p>
          </div>

          <div class="card-footer">
            <div class="price">
              <p class="price-text">Price</p>
              <p class="price-number">{{ tour.price }}</p>
              <p class="price-number">{{ getDisc(tour.id, tour.price) }}</p>
            </div>

            <p class="difficulty" [ngClass]="{'easy': tour.difficultyLevel === 'Easy', 'moderate': tour.difficultyLevel === 'Moderate', 'difficult': tour.difficultyLevel === 'Difficult'}">
              {{ tour.difficultyLevel }}
            </p>
          </div>

        </div>

      </div>

    </div>
    </div>
  </div>
</div>
