<div class="custom-toolbar">
    <div class="inner">
        <p raised-button [routerLink]="['home']">Explorer</p>
        <div id="buttons">
            <button class="button" raised-button [routerLink]="['home']">Home</button>
            <button class="button" *ngIf="user && user.role === 'administrator'"color="primary" raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button class="button" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['guideReview']">Review Guide</button>
            <button class="button" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['preferences']">My preferences</button>
        </div>
        <div id="buttons">
            <button class="button" *ngIf="user && user.username === ''" raised-button [routerLink]="['login']">Login</button>
            <button class="button" *ngIf="user && user.username !== ''" raised-button (click)="onLogout()">Logout</button>
        </div>
    </div>
</div>
