div {
    width: 100%;
    display: flex;
    gap: 10px;
}

#buttons {
    width: auto;
    margin-left: auto;
}

::ng-deep .mat-toolbar {
    position: sticky;
    z-index: 99999;
    top:0;
    width: 100%;
    overflow: hidden;
}