<div class="custom-toolbar">
    <div class="inner">
        <p raised-button [routerLink]="['']">Explorer</p>
        <div id="buttons">
            <button class="nbutton" raised-button [routerLink]="['']">Home</button>

            <button class="button" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['equipment']">Manage equipment (!)</button>
            <button class="button" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['accounts']">Manage accounts</button>  
            <button class="button" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['app-ratings']">All App Ratings</button>
            <button class="button" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['problems']">Unsolved problems</button>
            <button class="nbutton" *ngIf="user && user.role === 'tourist'"  raised-button [routerLink]="['marketplace']">Marketplace</button>

            <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['preferences']">My preferences</button>
            <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['guideReview']">Review Guide</button>
            <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['blogPostComment']">Manage comments</button>
            <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['club']">Manage clubs</button>
            <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['blog']">Blog</button>

            <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['tourist-equipment']">My equipment</button>

            <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['problems']">Solve problems</button>


            <button class="nbutton" *ngIf="user && user.role === 'author'" raised-button [routerLink]="['tour']">Add tour</button>
            <button class="nbutton" *ngIf="user && user.role === 'author'" raised-button [routerLink]="['problems']">Replay on problems</button>

            <button class="nbutton" *ngIf="user && (user.role === 'tourist' || user.role === 'author')" raised-button [routerLink]="['app-rating-form']">Rate the App</button>
            <button class="nbutton" *ngIf="user && (user.role === 'tourist' || user.role === 'author')"  raised-button [routerLink]="['profile']">Profile</button>
            <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['tours-show']">Rate Visited Tour</button>

        </div>
        <div id="buttons">
            <button class="nbutton" *ngIf="user && user.username === ''" raised-button [routerLink]="['login']">Login</button>
            <button class="nbutton" *ngIf="user && user.username !== ''" raised-button (click)="onLogout()">Logout</button>
        </div>
    </div>
</div>