<div id="ba" class="custom-toolbar">
  <div id="ba" class="inner">
    <p raised-button [routerLink]="['home']">LubuTravel</p>
    <div id="buttons">
      <button class="nbutton" raised-button [routerLink]="['home']">
        Home
      </button>

      <div *ngIf="user && user.role === 'tourist'" class="dd">
        <button raised-button [routerLink]="['marketplace']" class="nbutton">
          Marketplace <i class="fa fa-caret-down"></i>
        </button>
        <div class="ddc">
          <a *ngIf="user && user.role === 'tourist'" href="marketplace"
            >Marketplace</a
          >
          <a *ngIf="user && user.role === 'tourist'" href="shoppingcart"
            >Shopping Cart</a
          >
        </div>
      </div>

<!--            <div *ngIf="user && user.role === 'tourist'" class="dd">-->
<!--                <button raised-button [routerLink]="['marketplace']" class="nbutton">Marketplace <i class="fa fa-caret-down"></i></button>-->
<!--                <div class="ddc">-->
<!--                    <a *ngIf="user && user.role === 'tourist'" href="marketplace">Marketplace</a>-->
<!--                    <a *ngIf="user && user.role === 'tourist'" href="shoppingcart">Shopping Cart</a>-->
<!--                </div>-->
<!--            </div>-->

            <div *ngIf="user && user.role === 'tourist'" class="dd">
                <button raised-button [routerLink]="['purchasedTours']" class="nbutton">My Tours <i class="fa fa-caret-down"></i></button>
                <div class="ddc">
                    <a *ngIf="user && user.role === 'tourist'" href="purchasedTours">Purchased Tours</a>
                    <a *ngIf="user && user.role === 'tourist'" href="my-ended-tours">Ended Tours</a>
                    <a *ngIf="user && user.role === 'tourist'" href="my-tours">Tours I created</a>
                    <a *ngIf="user && user.role === 'tourist'" href="tours-show">Rate Visited Tours</a>
                    <a *ngIf="user && user.role === 'tourist'" href="tourReviewShow">My Reviews</a>
                    <a *ngIf="user && user.role === 'tourist'" href="problems">Tour Problems</a>
                    <a *ngIf="user && user.role === 'tourist'" href="tour-tourist">Personalized tour</a>
                    <a *ngIf="user && user.role === 'tourist'" href="compositeTours">Composite tours</a>

                </div>
            </div>




            <!-- Premestena dugmad u dropdaunove (ako nesto nije dobro prebaceno)-->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['equipment']">Manage Equipment (!)</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['accounts']">Manage Accounts</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['public-tour-point-request']">PTP Requests</button> -->
            <!-- <button class="nbutton" *ngIf="user && (user.role === 'tourist' || user.role === 'author')"  raised-button [routerLink]="['profile']">Profile</button> -->
            <!-- <button class="nbutton" *ngIf="user && (user.role === 'tourist' || user.role === 'author')" raised-button [routerLink]="['app-rating-form']">Rate the App</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['preferences']">My preferences</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['guideReview']">Review Guide</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'"  raised-button [routerLink]="['marketplace']">Marketplace</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['shoppingcart']">Shopping Cart</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['tourist-equipment']">My equipment</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['tours-show']">Rate Visited Tour</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['purchasedTours']">Purchased Tours</button> -->
            <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['problems']">Solve problems</button> -->

            <button class="nbutton" *ngIf="user && user.role === 'author'" raised-button [routerLink]="['tour']">Add Tour</button>
<!--            <button class="nbutton" *ngIf="user && user.role === 'author'" raised-button [routerLink]="['private-tour-points']">Private Tour Points</button>-->
            <button class="nbutton" *ngIf="user && user.role === 'author'" raised-button [routerLink]="['problems']">Problem Chats</button>
            <button class="nbutton" *ngIf="user && user.role === 'author'" raised-button [routerLink]="['tourStatistics']">Tour statistics</button>







<!--      <div *ngIf="user && user.role === 'tourist'" class="dd">-->

<!--        <button raised-button [routerLink]="['purchasedTours']" class="nbutton">-->
<!--          My Tours <i class="fa fa-caret-down"></i>-->
<!--        </button>-->
<!--        <div class="ddc">-->
<!--          <a *ngIf="user && user.role === 'tourist'" href="purchasedTours"-->
<!--            >Purchased Tours</a-->
<!--          >-->
<!--          <a *ngIf="user && user.role === 'tourist'" href="tours-show"-->
<!--            >Rate Visited Tours</a-->
<!--          >-->
<!--          <a *ngIf="user && user.role === 'tourist'" href="problems"-->
<!--            >Tour Problems</a-->
<!--          >-->
<!--          <a *ngIf="user && user.role === 'tourist'" href="tour-tourist"-->
<!--            >Personalized tour</a-->
<!--          >-->
<!--          <a *ngIf="user && user.role === 'tourist'" href="compositeTours"-->
<!--            >Composite tours</a-->
<!--          >-->
<!--        </div>-->
<!--      </div>-->

<!--      <button-->
<!--        class="nbutton"-->
<!--        *ngIf="user && user.role === 'tourist'"-->
<!--        raised-button-->
<!--        [routerLink]="['blog']"-->
<!--      >-->
<!--        Blog-->
<!--      </button>-->
<!--      <button-->
<!--      class="nbutton"-->
<!--      *ngIf="user && user.role === 'tourist'"-->
<!--      raised-button-->
<!--      [routerLink]="['gallery']"-->
<!--    >-->
<!--      Gallery-->
<!--    </button>-->
<!--      <button-->
<!--        class="nbutton"-->
<!--        *ngIf="user && user.role === 'tourist'"-->
<!--        raised-button-->
<!--        [routerLink]="['club']"-->
<!--      >-->
<!--        Clubs-->
<!--      </button>-->

      <button
        class="nbutton"
        *ngIf="user && user.role === 'author'"
        raised-button
        [routerLink]="['create-competition']"
      >
        Competitions
      </button>

      <button
        class="nbutton"
        *ngIf="user && user.role === 'tourist'"
        raised-button
        [routerLink]="['show-competitions']"
      >
        Competitions
      </button>

      <button
        class="nbutton"
        *ngIf="user && user.role === 'tourist'"
        raised-button
        [routerLink]="['blog']"
      >
        Blog
      </button>

      <button
        class="nbutton"
        *ngIf="user && user.role === 'tourist'"
        raised-button
        [routerLink]="['gallery']"
      >
        Visual gallery
      </button>

<!--        <div *ngIf="user && ((user.role === 'tourist' && isLevelTen) || user.role === 'administrator')" class="dd">-->
<!--          <button raised-button [routerLink]="['encounters']" class="nbutton">Encounters <i class="fa fa-caret-down"></i></button>-->
<!--          <div class="ddc">-->
<!--              <a href="encounters">Manage encounters</a>-->
<!--              <a *ngIf="user && user.role === 'tourist'" href="encounterMap">Encounter map</a>-->
<!--          </div>-->
<!--      </div>-->


      <div *ngIf="user && user.role === 'administrator'" class="dd">
        <button raised-button [routerLink]="['accounts']" class="nbutton">
          Manage <i class="fa fa-caret-down"></i>
        </button>
        <div class="ddc">
          <a *ngIf="user && user.role === 'administrator'" href="accounts"
            >Manage Accounts</a
          >
          <a *ngIf="user && user.role === 'administrator'" href="equipment"
            >Manage Equipment (?)</a
          >
          <a
            *ngIf="user && user.role === 'administrator'"
            href="public-tour-point-request"
            >Manage PTP Requests</a
          >
        </div>
      </div>

      <button
        class="nbutton"
        *ngIf="user && user.role === 'administrator'"
        raised-button
        [routerLink]="['problems']"
      >
        Unsolved Problems
      </button>
      <button
        class="nbutton"
        *ngIf="user && user.role === 'administrator'"
        raised-button
        [routerLink]="['app-ratings']"
      >
        App Ratings
      </button>

      <!-- Premestena dugmad u dropdaunove (ako nesto nije dobro prebaceno)-->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['equipment']">Manage Equipment (!)</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['accounts']">Manage Accounts</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'administrator'" raised-button [routerLink]="['public-tour-point-request']">PTP Requests</button> -->
      <!-- <button class="nbutton" *ngIf="user && (user.role === 'tourist' || user.role === 'author')"  raised-button [routerLink]="['profile']">Profile</button> -->
      <!-- <button class="nbutton" *ngIf="user && (user.role === 'tourist' || user.role === 'author')" raised-button [routerLink]="['app-rating-form']">Rate the App</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['preferences']">My preferences</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['guideReview']">Review Guide</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'"  raised-button [routerLink]="['marketplace']">Marketplace</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['shoppingcart']">Shopping Cart</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['tourist-equipment']">My equipment</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['tours-show']">Rate Visited Tour</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['purchasedTours']">Purchased Tours</button> -->
      <!-- <button class="nbutton" *ngIf="user && user.role === 'tourist'" raised-button [routerLink]="['problems']">Solve problems</button> -->

<!--      <button-->
<!--        class="nbutton"-->
<!--        *ngIf="user && user.role === 'author'"-->
<!--        raised-button-->
<!--        [routerLink]="['tour']"-->
<!--      >-->
<!--        Add Tour-->
<!--      </button>-->
<!--      <button-->
<!--        class="nbutton"-->
<!--        *ngIf="user && user.role === 'author'"-->
<!--        raised-button-->
<!--        [routerLink]="['private-tour-points']"-->
<!--      >-->
<!--        Private Tour Points-->
<!--      </button>-->
<!--      <button-->
<!--        class="nbutton"-->
<!--        *ngIf="user && user.role === 'author'"-->
<!--        raised-button-->
<!--        [routerLink]="['problems']"-->
<!--      >-->
<!--        Problem Chats-->
<!--      </button>-->
      <button
        class="nbutton"
        *ngIf="user && user.role === 'author'"
        raised-button
        [routerLink]="['tourSale']"
      >
        Tour Sales
      </button>

      <div *ngIf="user && (user.role === 'tourist' || user.role === 'author')" class="dd">
        <button raised-button [routerLink]="['profile']" class="nbutton">Profile <i class="fa fa-caret-down"></i></button>
        <div class="ddc">
          <a *ngIf="user && (user.role === 'tourist' || user.role === 'author')" href="profile">Profile Page</a>
          <a *ngIf="user && user.role === 'tourist'" href="tourist-equipment">My Equipment</a>
          <a *ngIf="user && user.role === 'tourist'" href="preferences">My Preferences</a>
          <a *ngIf="user && (user.role === 'tourist' || user.role === 'author')" href="app-rating-form">Rate The App</a>
          <a *ngIf="user && (user.role === 'tourist')" href="statistics">Statistics</a>

        </div>
      </div>

<!--      <div-->
<!--        *ngIf="user && (user.role === 'tourist' || user.role === 'author')"-->
<!--        class="dd"-->
<!--      >-->
<!--        <button raised-button [routerLink]="['profile']" class="nbutton">-->
<!--          Profile <i class="fa fa-caret-down"></i>-->
<!--        </button>-->
<!--        <div class="ddc">-->
<!--          <a-->
<!--            *ngIf="user && (user.role === 'tourist' || user.role === 'author')"-->
<!--            href="profile"-->
<!--            >Profile Page</a-->
<!--          >-->
<!--          <a *ngIf="user && user.role === 'tourist'" href="tourist-equipment"-->
<!--            >My Equipment</a-->
<!--          >-->
<!--          <a *ngIf="user && user.role === 'tourist'" href="preferences"-->
<!--            >My Preferences</a-->
<!--          >-->
<!--          <a-->
<!--            *ngIf="user && (user.role === 'tourist' || user.role === 'author')"-->
<!--            href="app-rating-form"-->
<!--            >Rate The App</a-->
<!--          >-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div id="buttons">
      <button
        class="nbutton"
        *ngIf="user && user.username === ''"
        raised-button
        [routerLink]="['login']"
      >
        Login
      </button>
      <button
        class="nbutton"
        *ngIf="user && user.username !== ''"
        raised-button
        (click)="onLogout()"
      >
        Logout
      </button>


    </div>
  </div>
</div>
