<div class="landingPage">
    <div class="b1" >
      <p class="top_margin"></p>
      <p class="title">Follow new people</p>
      <table>
        <thead>d
            <tr>
                <th>Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td><button class="button" raised-button (click)="followUser(user.id)">Follow</button></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="b3">
      
    </div>
    <div class="b4">
      <div class="overlay">
        <button class="button" raised-button (click)="showBlogs()">See blogs</button>
        <button class="button" raised-button (click)="showRecommendations()">See recommendations</button>
      </div>
    </div>
</div>