@font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Medium.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  h2.title {
    text-align: center; /* Centriranje teksta */
    font-size: 24px; /* Promena veličine slova */
    margin-bottom: 20px; /* Dodavanje razmaka ispod naslova */
    margin-top: 20px;
    font-family: 'Trip', sans-serif; /* Primenjivanje fonta 'Trip' na naslov h2 s klasom 'title' */
  
  }
  
#messages {
    margin-top: 20px;
    margin-left: 20px;
    /*background-image: url("/assets/images/background.jpg");*/

    font-family: 'Trip-Sans-Regular', sans-serif;
    max-width: 900px; /* Postavljanje maksimalne širine */
    margin: 0 auto; /* Centriranje kartica */
    font-family: 'Trip', sans-serif; /* Primenjivanje fonta 'Trip' na naslov h2 s klasom 'title' */
  }
  
  #message-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
  }
  
  .message-item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #221853; /* Promena boje konture */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .message-content {
    flex-grow: 1;
  }
  
  .message {
    font-size: 18px;
    color: #221853;
  }
  
  .username {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #707070;
  }
  
  .delete-button {
    background-color: #e23a55;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #c4001d;
  }

  .read-button {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .read-button:hover {
    background-color: lightblue;
  }

  .message-item.unread {
    border: 3px solid blue;
}
  