<div id="notifications">
    <div id="notification-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Comment</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rrn of requestResponseNotification">
                        <td>{{rrn.comment}}</td>
                        <td>{{rrn.creation | date:'medium'}}</td>
                        <td>
                            <button (click)="deleteNotification(rrn)" color="accent" mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





