<div id="notifications">
  <div id="notification-details">
    <div *ngFor="let rrn of requestResponseNotification" class="notification-item">
      <div class="notification-content">
        <div class="notification-comment">{{rrn.comment}}</div>
        <div class="notification-time">{{rrn.creation | date:'medium'}}</div>
      </div>
      <button (click)="deleteNotification(rrn)" color="accent" mat-icon-button class="delete-button">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
 </div>
