@font-face {
  font-family: 'Trip';
  src: url(src\assets\Fonts\TripSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trip';
  src: url(src\assets\Fonts\TripSans-Medium.ttf) format('truetype');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trip';
  src: url(src\assets\Fonts\TripSans-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.container {
  margin: 96px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-contain {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.left-contain {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding-right: 12px;
  justify-content: flex-end;
}

.prefs-margin {
}

.prefs {
  display: flex;
  flex-direction: column;
}

.right-contain {
  width: 50%;
  padding-left: 12px;
}

.add-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.table-container {
  overflow-y: auto;
  max-height: 300px; /* Optionally set a maximum width if needed */
}

.button-save-add {
  font-family: 'Trip';
  font-weight: medium;
  background-color: #0a83cb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  transition: all 0.3s ease;
}

.tag-button {
  width: 180px;
}

.button-save-add:hover {
  background-color: #221853;
  box-shadow: 0 2px 5px 1px #333333;
}

.button-delete {
  font-family: 'Trip';
  font-weight: medium;
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 180px;
  transition: all 0.3s ease;
}

.button-delete:hover {
  background-color: darkred;
  box-shadow: 0 2px 5px 1px #333333;
}
