<form [formGroup]="preferencesForm">
  <div class="container">

    <div class="data-contain">

      <div class="left-contain">
        <div class="prefs-margin"></div>
        <div class="prefs">
          <mat-form-field>
            <mat-label>Difficulty</mat-label>
            <mat-select formControlName="preferredDifficulty">
              <mat-option *ngFor="let level of difficultyLevels" [value]="level">
                {{level}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Walking (0-3)</mat-label>
            <input matInput type="number" formControlName="walking" placeholder="Walking">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Biking (0-3)</mat-label>
            <input matInput type="number" formControlName="biking" placeholder="Biking">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Car (0-3)</mat-label>
            <input matInput type="number" formControlName="car" placeholder="Car">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Boat (0-3)</mat-label>
            <input matInput type="number" formControlName="boat" placeholder="Boat">
          </mat-form-field>
        </div>

      </div>

      <div class="right-contain">
        <div class="add-tag">
          <mat-form-field>
            <mat-label>Tag</mat-label>
            <input matInput type="text" [(ngModel)]="newTag" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
          <button class="button-save-add tag-button" (click)="onAddTagClick(newTag)">Add tag</button>
        </div>

        <div class="table-container">
          <mat-table [dataSource]="datasource">
            <ng-container matColumnDef="tags">
              <mat-header-cell *matHeaderCellDef> Interest Tag </mat-header-cell>
              <mat-cell *matCellDef="let tag"> {{ tag }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let tag">
                <button class="button-delete" (click)="onDelete(tag)">Delete</button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="['tags', 'actions']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['tags', 'actions']"></mat-row>
          </mat-table>
        </div>

      </div>

    </div>

    <button class="button-save-add" *ngIf="!shouldEdit" type="submit" (click)="addPreferences()">Add</button>
    <button class="button-save-add" *ngIf="shouldEdit" type="submit" (click)="updatePreferences()">Update</button>
  </div>
</form>
