img{
    width: 250px;
    height: 250px;
}

.reviews{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 20px;
    padding-top: 10px;
}
.container{
    display: flex;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ngContainer{
    margin-top: 10px;
}