/* image-search.component.css */

.top-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding for spacing, adjust as needed */
}

.search-input {
  border: 3px solid #ccc; /* Remove default input border */
  width: 700px; /* Adjust the width as needed */
  padding: 15px; /* Add padding to the input */
  border-radius: 20px; /* Match the container's border-radius for rounded edges */
  box-sizing: border-box; /* Include padding in the input's total width */
  padding-right: 30px; 
  font-size: 20px; /* Adjust font size as needed */
}
.cancel-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right distance based on the icon size and spacing you desire */
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 5px;
  width: 30px; /* Adjust the width as needed, should be larger than the height for a circular appearance */
  height: 30px; /* Adjust the height as needed */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-icon i {
  color: #555; /* Adjust the color as needed */
}

.cancel-icon:hover {
  background-color: #ddd; /* Adjust the background color as needed */
}

.search-container {
  border-color: black;
  padding: 5px;
  position: relative;
}
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }

  .image-card {
    margin: 10px;
    width: 300px;
    cursor: zoom-in;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(34, 24, 83, 0.7);
  }
  .image-card:hover img {
    box-shadow: 0 0 30px rgba(34, 24, 83, 0.7); /* Scale the image on hover for a zoom effect */
  }

  .popup {
    background: white;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Center content vertically */
    font-family: 'Trip', sans-serif;
  }
  .title {
    color: black;
    font-family: 'Trip', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }
  .popup img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    max-height: 100%; /* Ensure the image doesn't exceed the container height */
    border-radius: 15px;
  }
  .popup-container {
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trip', sans-serif;
  }

.button {
    background-color: white;
    color: #221853;
    font-size: 24px;
    width: 150px; /* Set the desired width */
    height: 50px; /* Set the desired height, matching the width for a perfect circle */
 }
.more-images-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-image {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  margin: 0 20px;
  background-color: lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.small-text {
  margin-bottom: 5px;
  font-size: 14px; /* Adjust the font size as needed */
}

.city-name {
  font-size: 24px; /* Adjust the font size as needed */
  display: block; /* Place the city name on a new line */
  font-weight: bold; /* Make the city name bold */
}
.more-image:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
}
.cancel-icon:hover {
  background-color: #ddd; /* Adjust the background color as needed */
}

.background {
  background-color: #FAF9F6;
  background-size: cover;
  background-repeat: repeat;
  min-height: 150vh;
  height: 100%;
}