<div class="blog-detail">
  <div class="header-container">
    <div class="buttons-part">
      <button [disabled]="isClosed(post)" class="upvote" [class.active]="isUpvoted" (click)="upvote()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <div class="rating">
        {{overall_rating}}
      </div>
      <button [disabled]="isClosed(post)" class="downvote" [class.active]="isDownvoted" (click)="downvote()">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
    <div class="post-title">
      <h2>{{ post.title }}</h2>
    </div>
    <div class="post-actions" *ngIf="showEditDeleteButtons(post.authorId)">
      <button *ngIf="!isClosed(post)" mat-icon-button color="primary" (click)="navigateToUpdateForm()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deletePost()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <hr class="line-divider">
  <div class="post-content">
    <div class="post-description" markdown>
      {{ post.description }}
    </div>
    <hr class="line-divider" *ngIf="post.imageURLs == null">
    <ng-container *ngIf="post.imageURLs != null && post.imageURLs.length >= 1;">
      <div class="image-container">
        <button *ngIf="showNavArrows" class="nav-arrow left" (click)="prevImage()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="image-wrapper">
          <img class="post-image" [src]="currentImage" alt="Post Image">
        </div>
        <button *ngIf="showNavArrows" class="nav-arrow right" (click)="nextImage()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </ng-container>
    <hr class="line-divider">
    <div class="comments-section">
      <h3>Comments</h3>
      <div *ngIf="!isClosed(post)" class="commentCreation">
        <form [formGroup]="commentForm">
          <textarea formControlName="text" class="newCommentText" rows="4" placeholder="Leave a comment"></textarea>
        </form>
        <button type="submit" class="submit_button" (click)="addComment()"> Comment </button>
      </div>
    </div>
    <div *ngIf="isClosed(post)" class="disabled-message">
      <mat-icon class="attention-icon">warning</mat-icon>
      This blog post is closed and cannot be interacted with. You can only read it's content and comments.
    </div>
    <div *ngIf="post.comments && post.comments.length > 0">
      
      <div class="comment" *ngFor="let comment of post.comments">
        <div class="comment-text">
          <p>{{ comment.text }}</p>
        </div>
        <div class="comment-metadata">
          <p>
            Created by {{ comment.username }} on {{ comment.creationTime | date: 'medium' }}
            | Last updated on {{ comment.lastUpdatedTime | date: 'medium' }}
          </p>
          <div *ngIf="showEditDeleteButtons(comment.userId)" class="edit-delete-buttons">
            <!-- Edit button -->
            <button class="edit-button" (click)="openEditPopup(comment)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>

            <!-- Delete button -->
            <button class="delete-button" (click)="deleteComment(comment.userId, comment.creationTime)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showPopup" class="popup-container">
      <div class="popup">
        <textarea [(ngModel)]="editedComment.text" rows="8"></textarea>
        <div class="button-container">
          <button (click)="saveChanges()" class="save_button">Save</button>
          <button (click)="closePopup()" class="close_button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>