.blog-detail {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid black;
  }
  
  /* Style for the post header */
  .post-header {
    margin-bottom: 20px;
  }
  
  .post-header h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .metadata {
    font-size: 14px;
    color: #666;
  }
  
.post-header {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
}

  /* Style for the post content */
  .post-content p {
    font-size: 16px;
    line-height: 1.6;
  }

  .post-content {
    display: flex;
    flex-direction: column; /* Set to column layout for post content */
    align-items: center; /* Center post content horizontally */
    width: 100%;
}
  
  /* Style for the image container */
  .image-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  img {
    max-width: 200%;
    height: auto;
    border-radius: 8px;
  }

  .post-image {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-arrow mat-icon {
  font-size: 24px; /* Adjust the font size of the material icon */
}
.nav-arrow.left {
  align-self: flex-start;
  margin-left: 15px;
}

.nav-arrow.right {
  align-self: flex-end;
  margin-right: 15px;
}

.nav-arrow {
  color: #221853;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 34px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: white;
}

.upvote.active {
  background-color: #221853; /* Green when active (clicked) */
}


.upvote,
.downvote {
  background-color: white; /* Default color */
  border: none;
  cursor: pointer;
}

.comments-section {
  margin-top: 20px;
}

.comments-section h3 {
  font-size: 20px;
  margin-bottom: 16px;
}

.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.comment-text {
  margin-top: 8px;
}

.comment-metadata {
  font-size: 12px;
  color: #666;
}

.newCommentText {
  resize: none; 
  width: 600px;
  height: 100px;
  font-size: 20px;
}

.commentCreation {
  border: 2px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px;
}

.submit_button {
  align-self: flex-end; /* Align the button to the right within the flex container */
  margin-top: 5px; /* Add margin to separate the button from the textarea */
}
.line-divider {
  border-top: 2px solid #707070; /* Adjust the color and thickness as needed */
  width: 100%; /* Ensure the line spans the entire width of the container */
  display: block; /* Ensure the line is a block element */
  margin-top: 1px; /* Adjust the margin as needed */
  margin-bottom: 1px;
}

