<div class="blog-post-card">
    <div class="post-content">
      <h2>{{ post.title }}</h2>
      <div *ngIf="post.imageURLs != null && post.imageURLs.length >= 1; else descriptionSection">
        <div class="image-container">
            <button *ngIf="showNavArrows" class="nav-arrow" (click)="prevImage()">
                <i class="fas fa-arrow-left"></i>
            </button>
            <img class="post-image" [src]="currentImage" alt="Post Image">
            <button *ngIf="showNavArrows" class="nav-arrow" (click)="nextImage()">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
      </div>
      <ng-template #descriptionSection>
        <p class="description">{{ post.description }}</p>
      </ng-template>
    </div>
    <div class="interaction-bar">
      <button class="comment-button">
        <i class="fas fa-comments"></i>
        See Comments
      </button>
    </div>
</div>
