@font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Medium.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.blog-post-card {
    display: flex;
    border: 1px solid #707070;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  
.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #888;
}
  
.vote i {
    cursor: pointer;
    margin: 0 5px;
}
  
.post-content {
    flex-grow: 1;
}
  
.post-content h2 {
    margin-bottom: 5px;
    color: #221853;
    font-family: 'Trip-Sans-Bold', sans-serif;
}
  
.image-container {
    position: relative;
    display: flex;
    align-items: center;
}
  
.post-image {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
  
.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0a83cb;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
}
  
.nav-arrow i {
    font-size: 20px;
}
  
.description {
    line-height: 1.5;
    color: #000000;
}
  
.interaction-bar {
    margin-top: 10px;
}
  
.comment-button {
    background-color: #0a83cb;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}
  
.comment-button i {
    margin-right: 5px;
}
  
  /* Add these styles for the upvote and downvote icons */
.vote i {
    color: #0a83cb;
}
  
.rating {
    color: #e23a55;
}
