/* Your existing styles */
.form-row {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 40%;
  font-size: 26px;
  height: 85px;
}

.hdr {
  font-size: 44px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 50px;
  color: #2e249c;
}

.hdrs {
  margin-bottom: 40px;
  font-size: 26px;
}


/*label {
  font-size: 16px;
}*/

/* Optional: Adjust the width of the form fields as needed */
input {
  max-width: 300px;
}

/* Additional styles for border and margin */
form {
  border: 2px solid #2f2e2e; /* Add border */
  padding: 24px; /* Add padding to create space between the form and the border */
  margin-top: 30px; /* Increase top margin */
  margin-left: 30px; /* Increase left margin */
  margin-right: 40px;
}

button {
  margin: 10px;
  font-size: 24px; /* Adjust the font size to make the button bigger */
  padding: 10px 20px;
}
