.form-row {
    display: flex;
    flex-direction: column;
    margin: 10px
  }
  
  mat-form-field {
    width: 40%;
  }
  
  label {
    font-size: 16px;
  }
  
  /* Optional: Adjust the width of the form fields as needed */
  input {
    max-width: 300px;
  }