<form [formGroup]="couponForm" (ngSubmit)="submitForm()">
    <p class="hdr">Create coupon</p>
    <div class="hdrs">
      <div class="form-row">
        <p>Tour Name:  {{ tour.name }}</p>
      </div>
          
      <div class="form-row">
        <p>Tour Price:  {{ tour.price }}$</p>
      </div>
    </div>
    <div class="form-row">
      <mat-form-field>
        <input matInput formControlName="discount" placeholder="Discount (%)" type="number" min="1" max="100">
      </mat-form-field>
    </div>
    
    <div class="form-row">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" formControlName="expirationDate" placeholder="Expiration Date" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  
    <button mat-raised-button color="primary" type="submit">Create</button>
  </form>