<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="footer-section">
          <h3>Follow us on Instagram</h3>
          <a href="https://www.instagram.com/lubutravel/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" alt="Instagram">
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-section">
          <h3>Contact us</h3>
          <p>Email: <a href="mailto:pswexplorer@gmail.com">pswexplorer@gmail.com</a></p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</footer>
