<
<div class="container">
  <div>
    <h1>Leave a review</h1>

    <form [formGroup]="inputForm">
      <div class="grade">
        <mat-form-field>
          <mat-label>Grade</mat-label>
          <input
            matInput
            type="number"
            min="1"
            max="5"
            formControlName="grade"
          />
          <mat-hint>Enter grade from 1 to 5 </mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea matInput rows="4" formControlName="comment"></textarea>
          <mat-hint>Please enter a comment</mat-hint>
        </mat-form-field>
      </div>
      <div class="images">
        <mat-form-field>
          <mat-label>Images</mat-label>
          <input matInput type="text" formControlName="images" />
        </mat-form-field>
      </div>
      <div class="buttonClass">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
