<div id="club">
    <p>Clubs</p>
    <hr>
    <div id="club-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cl of club">
                    <td>{{cl.name}}</td>
                    <td>{{cl.description}}</td>
                    <td>{{cl.image}}</td>
                    <td>
                        <button (click)="deleteClub(cl)" color="accent" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button (click)="onEditClicked(cl)" color="primary" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr><button (click)="onAddClicked()" color="primary" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button></tr>
            </tbody>
        </table>
    </div>
    <div>
        <xp-club-form *ngIf="shouldRenderClubForm" (clubUpdated)="getClubs()" [club]="selectedClub" [shouldEdit] = "shouldEdit"></xp-club-form>
    </div>
    </div>
</div>
