<div class="wrapper">
  <form [formGroup]="competitionForm">
    <div class="form-wrap">
      <p class="label">Create new competition</p>
      <mat-form-field>
        <mat-label>Choose tour</mat-label>
        <mat-select formControlName="tours">
          <mat-option *ngFor="let tour of tourOptions" [value]="tour.id">{{
            tour.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          [formControl]="selectedDate"
          placeholder="Choose a date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Competition duration</mat-label>
        <input matInput formControlName="duration" type="number" />
      </mat-form-field>

      <button class="button" type="submit" color="primary" (click)="addCompetition()">Add competition</button>
    </div>
  </form>

  <xp-show-competition (competitionAdded)="competitionAdded"></xp-show-competition>
</div>
