.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  padding: 70px 50px 50px 50px;
  margin: auto;
}

.wrapper{
  display: flex;
  flex-direction: column;
  background-color: #FAF9F6;
  justify-content: center;
}

.label {
  font-family: 'Trip';
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 24px;
}

.button {
  border-radius: 8px;
  background-color: #124174;
  color: #ffffff;
  font-size: 1.2em;
  width: 400px;
  height: 40px;
}
