<!-- <form [formGroup]="competitionForm">
  <div class="form-wrap">
    <p class="label">Create new competition:</p>
    <div [formGroup]="yourFormGroup">
      <label for="tour" class="label">Choose tour for competition:</label>
      <select
        id="tour"
        formControlName="selectedTour"
        (change)="onTourChange()"
        class="select"
      >
        <option *ngFor="let tour of tourOptions" [value]="tour.id">
          {{ tour.name }}
        </option>
      </select>
    </div>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" [formControl]="selectedDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        formControlName="description"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>

    <button class="button" type="submit" color="primary">Add</button>
    
  </div>
</form> -->
