<div class="landingPage">
    <div class="b1">
        <p>0asfdasdfadf</p>
        <p>1asfdasdfadf</p>
        <p>2asfdasdfadf</p>
        <p>3asfdasdfadf</p>
        <p>4asfdasdfadf</p>
        <p>5asfdasdfadf</p>
    </div>
    <div class="b2">
        <p>6asfdasdfadf</p>
        <p>7asfdasdfadf</p>
        <p>8asfdasdfadf</p>
        <p>9asfdasdfadf</p>
        <p>0asfdasdfadf</p>
    </div>
    <div class="b3">
        <button margin="30px" width="30px" height="30px">asdasdasdasdasdasdasdasd</button>
        <div class="k">
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
        </div>
        <div class="k">
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
        </div>
        <div class="k">
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
        </div>
        <div class="k">
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
        </div>
        <button margin="30px" width="30px" height="30px">asdasdasdasdasdasdasdasd</button>
    </div>
    <div class="b4">
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
    </div>
    <div class="b5"><p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
    </div>
</div>
