@font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Medium.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trip';
    src: url(src\assets\Fonts\TripSans-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.landingPage {
    background-color: white;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-button {
    margin-top: 5%;
    padding: 10px 20px;
    border: none solid #003366;
    border-radius: 20px;
    background-color: #ffff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    width: 900px;
    display: flex; /* Podešavanje na fleksibilni prikaz */
    justify-content: space-between; /* Poravnanje sadržaja na levoj i desnoj strani */
    align-items: center; /* Centralno poravnanje po visini */

}

.searchdiv {
    font-family: 'Trip';
    font-weight: bold;
}

.icon-container {
    margin-right: 10px; /* Dodajte odstupanje sa desne strane ikonice */
}

.icon {
    width: 20px; /* Postavite željenu širinu slike (na primer, 20px) */
    height: auto; /* Automatsko podešavanje visine */
}


.title {
    font-family: 'Trip';
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 56px;
}
.top_margin {
    margin-top: 5%;
}


.b4 {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

/* Stilizacija slike */
.img {
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 40px;
}

/* Stilizacija preklapajućeg sadržaja */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    /* background: rgba(0, 0, 0, 0.5); */
    text-align: left;
     color: #000000; 
    padding: 20px;
    margin: 40px;
}

/* Stilizacija naslova */
.h1 {
    font-size: 24px;
}

/* Stilizacija teksta */
.p {
    font-size: 16px;
    margin-bottom: 2px;
}

/* Stilizacija dugmeta */
.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
   margin-top: 20px;
    width: 200px;
}

.button:hover {
    background-color: #0056b3;
}

