<div class="landingPage">
    <div class="b1">
        <p>dajana</p>
        <p>dajana</p>
        <p>dajana</p>
        <p>dajana</p>
    </div>
    <div class="b2">
        <p>6asfdasdfadf</p>
        <p>7asfdasdfadf</p>
        <p>8asfdasdfadf</p>
        <p>9asfdasdfadf</p>
        <p>0asfdasdfadf</p>
    </div>
    <div class="b3">
        <button margin="30px" width="30px" height="30px">asdasdasdasdasdasdasdasd</button>
        <div class="k">
            <p>petar</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
        </div>
        <div class="k">
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
        </div>
        <div class="k">
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
        </div>
        <div class="k">
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
            <p>asfdasdfadf</p>
        </div>
        <button margin="30px" width="30px" height="30px">asdasdasdasdasdasdasdasd</button>
    </div>
    <div class="b4">
        <p>blog</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
    </div>
    <div class="b5"><p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>donji deo</p>

        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>donji deo</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>donji deo</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>donji deo</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>donji deo</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>aaaaasfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>asfdasdfadf</p>
        <p>donji deo</p>
    </div>
</div>
