/* Style for the container div */
  div {
    margin: 10px;
  }
  
  /* Style for the labels */
  label {
    display: inline-block;
    width: 120px; /* Adjust the width as needed */
    font-weight: bold;
    margin-right: 10px; /* Adds space between label and input */
  }
  
  /* Style for the input and textarea elements */
  input, textarea {
    width: 200px; /* Adjust the width as needed */
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style for the Save/Edit button */
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  img {
    display: inline;
    margin-right: 10px;
    width: 100px;
    height: 100px;
  }
  .title {
    display: inline;
  }
  