<div>
  <img class="title" [src]="userProfile.profileImage" alt="Profile Image" onerror="this.src='https://www.pngarts.com/files/10/Default-Profile-Picture-Transparent-Image.png'">
  <h2 class="title">Profile info</h2>
</div>
<div>
  <div>
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="userProfile.name" [disabled]="!isEditMode">
  </div>
  <div>
    <label for="surname">Surname:</label>
    <input id="surname" [(ngModel)]="userProfile.surname" [disabled]="!isEditMode">
  </div>
  <div>
    <label for="profileImage">Profile Image:</label>
    <input id="profileImage" [(ngModel)]="userProfile.profileImage" [disabled]="!isEditMode">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <textarea id="bio" [(ngModel)]="userProfile.bio" [disabled]="!isEditMode"></textarea>
  </div>
  <div>
    <label for="quote">Quote:</label>
    <input id="quote" [(ngModel)]="userProfile.quote" [disabled]="!isEditMode">
  </div>
  <button (click)="toggleEditMode()">{{ isEditMode ? 'Save' : 'Edit' }}</button>
  <div>
  <mat-icon (click)="onBellClicked()">notifications</mat-icon>
  </div>
  <div>
    <xp-request-response-notification *ngIf="shouldRenderNotifications"></xp-request-response-notification>
  </div>
</div>  