
<div class="container">
    <div class="heading">
        <h1>Share with others Your experience 
            <div> And give us Your feedback</div>
            
        </h1>
    </div>
    <div *ngFor="let tour of tours" class="tour-card">
        <button mat-raised-button type="submit" color="primary" (click)="rateTour(tour)">Rate the tour <mat-icon class="star-icon">star</mat-icon> </button>

        <div class="card-content">
            <mat-label>Name: <span>{{tour.name}}</span></mat-label>
            <div>
                <mat-label>Description: <span>{{tour.description}}</span></mat-label>
            </div>
            <div>
                <mat-label>Price: <span>{{tour.price}}</span></mat-label>
            </div>
            <div>
                <mat-label>Difficulty Level: <span>{{tour.difficultyLevel}}</span></mat-label>
            </div>
            <div>
                <p>Average Rating: {{ calculateAverageGrade(tour).toFixed(2) || 'N/A' }}</p>
            </div>
        </div>
    </div>
</div>