div {
  width: 400px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.mat-icon {
  vertical-align: middle;
}

.form-container {
  float: left;
  /* Float the form container to the left */
  width: 50%;
  /* Adjust the width as needed */
  padding: 20px;
  /* Add padding for spacing */
  box-sizing: border-box;
  /* Include padding in the width */
}

.map-container {
  display: flex;
  float: left;
  width: 50%;
  height: 100px;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.label {
  font-size: 1.7em;
  text-transform: uppercase;
  color: #4e79a7;
  font-family: Georgia, serif;
  background-color: rgba(246, 245, 245, 0.8);
  border-radius: 10px;

  padding: 5px 10px;
}

.button {
  margin-left: 10px;
  border-radius: 8px;
  background-color: #124174;
  color: #ffffff;
  padding: 5px 10px;
  width: 400px;
}
