<div>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>XP</th>
          <th>Status</th>
          <th>Type</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enc of displayEncounters; let last = last">
          <td>{{enc.name}}</td>
          <td>{{enc.description}}</td>
          <td>{{enc.xpPoints}}</td>
          <td>{{enc.status}}</td>
          <td>{{enc.type}}</td>
          <td>{{enc.latitude}}</td>
          <td>{{enc.longitude}}</td>
          <td><button (click)="activateEncounter(enc)" >Activate</button></td>
        </tr>
      </tbody>
    </table>
    <div class="map-container">
      <app-map (click)="updatePositions($event)"></app-map>
    </div>
  </div>
  
