<div id="blogPostComment">
    <p>Blog Post Comment</p>
    <hr>
    <div id="blogPostComment-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>BlogId</th>
                        <th>UserId</th>
                        <th>Text</th>
                        <th>Creation time</th>
                        <th>Last update time</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let bpc of blogPostComment">
                    <td>{{bpc.id}}</td>
                    <td>{{bpc.blogId}}</td>
                    <td>{{bpc.userId}}</td>
                    <td>{{bpc.text}}</td>
                    <td>{{bpc.creationTime}}</td>
                    <td>{{bpc.lastUpdatedTime}}</td>
                    <td>
                            <button (click)="deleteComment(bpc)" color="accent" mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button (click)="onEditClicked(bpc)" color="primary" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </tr>
                    <tr><button (click)="onAddClicked()" color="primary" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button></tr>
                </tbody>
            </table>
        </div>
        <div>
            <xp-blog-post-comment-form *ngIf="shouldRenderCommentForm" (commentUpdated) = "ngOnInit()" [shouldEdit]="shouldEdit" [comment]="selectedComment"></xp-blog-post-comment-form>
        </div>
    </div>
</div>
