<div class="body">

    <div class="slide-container">

      <div class="title">WINNER</div>

      <div class="slide-content">
        <div class="card-wrapper">
          <div *ngFor="let apply of competitionApplies">
          <div class="card">

            <div class="card-content">
              <h2 class="name">{{ apply.userName }} {{ apply.userLastName }}</h2>

<!--              <div class="desc-container">-->
<!--                <p class="description">{{ apply.userLastName }}</p>-->
<!--              </div>-->
            </div>

            <div class="image-content">
              <div class="card-image">
                <img [src]="apply.imageUrl" alt="" class="card-img">
              </div>
            </div>

          </div>
          </div>
        </div>

      </div>
    </div>

  </div>
