/* tour-details.component.css */
@font-face {
  font-family: 'Trip';
  src: url(src\assets\Fonts\TripSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.tour-details-container {
    max-width: 800px;  /* Adjust the max-width as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  }
  
  .tour-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tour-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .buy-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #45a049;
  }
  
  .tour-info {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .tour-image img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
    
  }
  
  .tour-description {
    margin-top: 15px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
   /* margin-left: 20px;*/
  }
  
  .description {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    font-family: "Trip", sans-serif;
  }
  
  .tour-details {
    flex: 1;
    margin-left: 30px;

  }
  
  .price,
  .difficulty,
  .distance,
  .duration {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  