<div id="equipment">
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let eq of equipment">
                <td>{{eq.name}}</td>
                <td>{{eq.description}}</td>
                <td>
                    <button color="accent" (click)="deleteEquipment(eq.id || 0)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button color="primary" (click)="onEditClicked(eq)" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
